*DS_Store*
computer-room/scripts/
packer_cache
*.txt
*~
*-OLD
cfg-*.json
#main.yml#
*passwords.yml
dnsmasq-hosts.conf
*/HPC/*.sh
*-log
ansible/*/hosts
ansible/*/*/hosts
inventory
secrets.yml
client_secrets.yml
*/config/cfg-D-build_pkgs.json*
*/config/cfg-D-build_pkgs.json-DROPLET
*.vaultpass