# Config information for eth0:
IPADDR[0]="" #"{{SERVERIP_EXT}}"
NETMASK[0]=""
USE_DHCP[0]="yes"
HWADDR[0]="{{SERVER_EXT_HWADDR}}"
DHCP_IPADDR[0]="{{SERVERIP_EXT}}" # 35.111
DHCP_HOSTNAME[0]=""
DHCP_DEBUG[0]="yes"

# Config information for eth1:
IPADDR[1]="{{SERVERIP}}" #123.1
NETMASK[1]="255.255.255.0"
USE_DHCP[1]=""
DHCP_HOSTNAME[1]=""
