# PUT ALL PASSWORDS in the file passwords.yml in the main playbook dir

# Server internal ip
BASE_SERVERIP: '192.168.10'
SERVERIP: '{{BASE_SERVERIP}}.1'
SERVERIP_EXT: 'PUT_EXTERNAL_IP_HERE'
SERVER_DOMAINNAME: 'salafis'
SERVER_NAME: 'server{{SERVER_DOMAINNAME}}'

# Local proxy
PROXY: '{{SERVERIP}}:3128'

# nis
NISDOMAIN: 'salafisnis'

# sshd
# ROOTLOGIN could be either yes or prohibit-password when the
# public key has been copied
ROOTLOGIN: 'prohibit-password'

# netdata
NETDATA_TOKEN: 'TOKEN'
NETDATA_ROOM: 'ROOMID'

# Package Server: Simply shares a directory with spack and packages
PACKAGE_SERVER: '{{BASE_SERVERIP}}.2'
