# dnsmasq
DNSMASQHOSTPASSWORD: put_password_here

# cntlm: proxy server. Put university proxy user and password here
CNTLMUSER: put_user_here
CNTLMPASSWORD: put_password_here
CNTLMDOMAIN: put_domain_here
CNTLMPROXY: Proxy_ip
CNTLMPROXYPORT: PROXY_PORT
