CHECK NETWORK eth1intif with INTERFACE eth1
      start program = "/etc/rc.d/rc.inet1 eth1_restart"
      stop program = "/etc/rc.d/rc.inet1 eth1_stop"
      if failed link then restart
      if link down then restart

CHECK NETWORK extif with ADDRESS {{SERVERIP_EXT}}
      start program = "/etc/rc.d/rc.inet1 eth0_restart; echo 'eth0 start SERVER' >> /var/log/test"
      stop program = "/etc/rc.d/rc.inet1 eth0_stop; echo 'eth0 stop SERVER' >> /var/log/test"
      if failed link then restart
      #if 25 restarts within 40 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no ext ip'"
      if 10 restarts within 10 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no ext ip'"

#CHECK process cntlm with pidfile /var/run/cntlm.pid
#      #matching "cntlm"
#      #start program = "/usr/bin/syncthing"
#      #stop program = "/usr/bin/killall syncthing"
#      start program = "/etc/rc.d/rc.cntlm start"
#      stop program = "/etc/rc.d/rc.cntlm stop"

CHECK process dnsmasq with pidfile /var/run/dnsmasq.pid
      start program = "/etc/rc.d/rc.dnsmasq start"
      stop program = "/etc/rc.d/rc.dnsmasq stop"

check process sshd with pidfile /var/run/sshd.pid
      start program "/etc/rc.d/rc.sshd start"
      stop program "/etc/rc.d/rc.sshd stop"
      #if failed port 443 protocol ssh then restart
      #if 8 restarts within 10 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no sshd'"
      if 10 restarts within 10 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no sshd'"

check process sshd-connect with pidfile /var/run/sshd.pid
      every 4 cycles
      start program "/etc/rc.d/rc.sshd start"
      stop program "/etc/rc.d/rc.sshd stop"
      if failed port 443 protocol ssh then restart

#check filesystem optfs with path /opt
#    if space usage > 90% then alert

#check filesystem tmpfs with path /tmp
#    if space usage > 90% then alert

#check process arno-iptables-firewall matching /usr/sbin/arno-iptables-firewall

check process ypserv with pidfile /var/run/ypserv.pid
      start program = "/etc/rc.d/rc.yp start"
      stop program = "/etc/rc.d/rc.yp stop"

# Monit NFS Server Monitoring
check process NFS with pidfile /var/run/rpc.statd.pid
      start program = "/etc/rc.d/rc.nfsd start"
      stop program  = "/etc/rc.d/rc.nfsd stop"

CHECK process gmetad matching gmetad
      #with pidfile /var/run/gmond.pid
      start program = "/etc/rc.d/rc.gmetad start"
      stop program = "/etc/rc.d/rc.gmetad stop"

# exportfs command
check program exportfs with path "/usr/sbin/exportfs -s"
   with timeout 10 seconds
   start program = "/bin/bash -c '/usr/bin/timeout 10s /usr/sbin/exportfs -r && echo Exportfs started at $(date)' >> /var/log/monit_exportfs.log"
   stop program = "/bin/bash -c '/usr/bin/timeout 10s /usr/sbin/exportfs -au && echo Exportfs stopped at $(date)' >> /var/log/monit_exportfs.log"
   stop program = "/usr/bin/timeout 10s /usr/sbin/exportfs -au"
   if status != 0 then restart
   #if 10 restarts within 15 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no exportfs'"
   if 10 restarts within 10 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no exportfs'"
