CHECK NETWORK eth1intif with INTERFACE eth1
      start program = "/etc/rc.d/rc.inet1 eth1_restart"
      stop program = "/etc/rc.d/rc.inet1 eth1_stop"
      if failed link then restart
      if link down then restart

CHECK NETWORK extif with ADDRESS {{SERVERIP_EXT}}
      start program = "/etc/rc.d/rc.inet1 eth0_restart"
      stop program = "/etc/rc.d/rc.inet1 eth0_stop"
      if failed link then restart
      if 5 restarts within 5 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no ext ip'"

#CHECK process cntlm with pidfile /var/run/cntlm.pid
#      #matching "cntlm"
#      #start program = "/usr/bin/syncthing"
#      #stop program = "/usr/bin/killall syncthing"
#      start program = "/etc/rc.d/rc.cntlm start"
#      stop program = "/etc/rc.d/rc.cntlm stop"

CHECK process dnsmasq with pidfile /var/run/dnsmasq.pid
      start program = "/etc/rc.d/rc.dnsmasq start"
      stop program = "/etc/rc.d/rc.dnsmasq stop"

check process sshd with pidfile /var/run/sshd.pid
      start program "/etc/rc.d/rc.sshd start"
      stop program "/etc/rc.d/rc.sshd stop"
      #if failed port 443 protocol ssh then restart
      if 5 restarts within 10 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no sshd'"

check process sshd-connect with pidfile /var/run/sshd.pid
      #every 8 cycles
      start program "/etc/rc.d/rc.sshd start"
      stop program "/etc/rc.d/rc.sshd stop"
      if failed port 443 protocol ssh then restart
      if 8 restarts within 10 cycles then exec "/bin/bash /usr/local/bin/monit_restart.sh 'no sshd connection port 443'"

#check filesystem optfs with path /opt
#    if space usage > 90% then alert

#check filesystem tmpfs with path /tmp
#    if space usage > 90% then alert

#check process arno-iptables-firewall matching /usr/sbin/arno-iptables-firewall

check process ypserv with pidfile /var/run/ypserv.pid
      start program = "/etc/rc.d/rc.yp start"
      stop program = "/etc/rc.d/rc.yp stop"

# Monit NFS Server Monitoring
check process NFS with pidfile /var/run/rpc.statd.pid
      start program = "/etc/rc.d/rc.nfsd start"
      stop program  = "/etc/rc.d/rc.nfsd stop"

CHECK process gmetad matching gmetad
      #with pidfile /var/run/gmond.pid
      start program = "/etc/rc.d/rc.gmetad start"
      stop program = "/etc/rc.d/rc.gmetad stop"
      
