# NOTE: Check inventory.yml for hosts definitions that must coincide with the ip used here
# PUT ALL PASSWORDS in the file passwords.yml in the main playbook dir

# Server internal ip
BASE_SERVERIP: '192.168.10'
SERVERIP: '{{BASE_SERVERIP}}.1'
SERVERIP_EXT: 'EXTERNALIP'
SERVER_DOMAINNAME: 'DOMAINNAME' # host.DOMAINNAME.net or similar
SERVER_NAME: 'server{{SERVER_DOMAINNAME}}'

# Local proxy
PROXY: '{{SERVERIP}}:3128'

# nis
NISDOMAIN: '{{ SERVER_DOMAINNAME }}nis'

# sshd
# ROOTLOGIN could be either yes or prohibit-password when the
# public key has been copied
ROOTLOGIN: 'prohibit-password'

# netdata
NETDATA_TOKEN: 'TOKEN'
NETDATA_ROOM: 'ROOMID'

# gluster
GLUSTER_BRICK_DIR: /mnt/tmp/brick
GLUSTER_VOLUME_NAME: gfsdist
#GLUSTER_REPLICAS: 2 # Produces errors, needs checking
GLUSTER_MOUNT_DIR: /scratch

# Extra swap space
SWAP_SPACE: 16G
SWAP_PATH: /mnt/scratch/{{SWAP_SPACE}}